---
import Footer from "../components/Footer.astro";
import {SITE_BASE_URL} from "../consts";
import { getCollection } from "astro:content";
const episodes = await getCollection('episodes', ({data})=> {
    return data.published == true;
})
---
<!DOCTYPE html>

<html>
    <header>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>
    <body>
        { <h1>{episodes.pop().data.guest_name}</h1>}
        {
            episodes.map((episode) => (
                <p>{episode.data.guest_name}</p>
            ))
        }
    </body>
</html>