---
import { Debug } from 'astro:components';
const { colorInURL } = Astro.props;
---

<div id="introStory" class="px-md-2">
    <p>
        Every Sunday morning, we release a music selection curated with a guest.<br>
        MailTape is an art collective started in 2011 gathering curators, illustrators and writers based across Glasgow, London, Orléans, Marseille, New Delhi, Paris and Stockholm. Once every six months, we throw a party.<br>
        For each color, a mood: { colorInURL === "vibrant" ? <span class="vibrant">vibrant</span> : <a class="intro-link vibrant" href="/vibrant">vibrant</a> }, { colorInURL === "bliss" ? <span class="bliss">bliss</span> : <a class="intro-link bliss" href="/bliss">bliss</a> }, { colorInURL === "trippy" ? <span class="trippy">trippy</span> : <a class="intro-link trippy" href="/trippy">trippy</a> }, { colorInURL === "dreamy" ? <span class="dreamy">dreamy</span> : <a class="dreamy intro-link" href="/dreamy">dreamy</a> } and { colorInURL === "rough" ? <span class="rough">rough</span> : <a class="rough intro-link" href="/rough">rough</a> }.
        Hope you enjoy and discover great music.
    </p>
    <p>
        Cheers,<br>
        MailTape Crew.
    </p>
    <p>
        PS: If you don't want to miss our next release, you may consider <a data-toggle="modal" href="#topLearnMoreModal">following</a> us.
    </p>
    { colorInURL
        ?
        <div class="seeAll">
            <a href="/">See all colors</a>
        </div>
        :
        null
    }
</div>