---
import {SITE_BASE_URL} from "../../consts";
---
<div class="container newTopbar">
    <div class="d-flex justify-content-start flex-wrap">
        <div class="ml-auto w-100 pt-2 menu pt-md-3">
            <a data-toggle="modal" href="#topLearnMoreModal">Follow</a>
            <a href="https://donate.stripe.com/bIY14Ccce1WB2Ji288" target="_blank">Donate</a>
            <script is:inline>
            document.write('<a href="mai');
            document.write('lto');
            document.write(':&#99;&#114;&#101;&#119;');
            document.write('@');
            document.write('&#109;&#97;&#105;&#108;&#116;&#97;&#46;&#112;&#101;">');
            document.write('Contact<\/a>');
            </script>
        </div>
        <div class="pt-3">
            <a href="/" style="background:none"><img class="logo" src=`${SITE_BASE_URL}/img/logo_MailTape_static.png`></a>
        </div>
        <div class="pt-3 align-self-center">
            <h1>Welcome to MailTape</h1>
            <h2>A place for music lovers by music lovers</h2>
        </div>

    </div>
</div>